beautifulsoup4
fastapi
flake8
ipycytoscape
ipympl
Jinja2
jupyter_server!=2.11.0
jupyterlab
jupyterlab_rise
jupytext
lxml
nbconvert
nbgitpuller
numpy
matplotlib
pyflakes
regex
RISE
scipy
spacy
spacy_streamlit
sqlalchemy
streamlit
uvicorn