<!DOCTYPE html>
<html lang="en">
<head>
    <title>My favourite people</title>
</head>
<body>
    <h1>My favourite people</h1>
    <ul>
        {% for p in people -%}
            <li>{{p.name}}, {{p.position}}</li>
        {% endfor -%}
    </ul>
</body>
</html>